.cart {
  margin: 20px;
}

.cart h2 {
  margin-bottom: 10px;
  text-align: center; /* Center-align the heading */
}

.cart ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column; /* Display items vertically */
  justify-content: center;
  align-items: center; /* Center-align items horizontally */
}

.cart-item {
  flex: 0 0 calc(25% - 20px);
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 600px; 
}

.cart-item:hover {
  transform: translateY(-5px);
}

.cart img {
  width: 100%;
  max-height: 200px; /* Set a maximum height for images */
  object-fit: contain; /* Maintain aspect ratio */
  border-radius: 8px 8px 0 0;
}

.cart-item-details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-item-name {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

.cart-item-price {
  margin-bottom: 5px;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.cart-item-quantity button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.cart-item-quantity span {
  font-size: 18px;
  margin: 0 10px;
}

.remove-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 5px;
}
